In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\labs\lab-inferential-statistics-anova\files_for_lab\anova_lab_data.xlsx", sheet_name='data_collected')

In [3]:
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [4]:
data.describe()

       Etching Rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [5]:
# Renombrar la columna 'Power' eliminando espacios en blanco al inicio y al final
data.rename(columns=lambda x: x.strip(), inplace=True)

In [6]:
data.rename(columns={'Etching Rate': 'Etching_Rate'}, inplace=True)

In [7]:
#calular la media y agrupar por "power"
data.groupby('Power').agg(np.mean)

       Etching_Rate
Power
160 W         5.792
180 W         6.238
200 W         8.318

In [8]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Etching_Rate ~ C(Power)', data=data).fit()
sm.stats.anova_lm(model)

#un valor p bajo (en este caso, 0.000008), generalmente menor que 0.05, sugiere que la diferencia es estadísticamente significativa por lo que los resultados indican que existe una relación significativa entre la variable "Power" y la variable "Etching Rate"

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [9]:
data.pivot(columns='Power').describe()
 #we can check the max, min, mean and std. For power 200W are bigger than the rest.

      Etching_Rate
Power        160 W     180 W     200 W
count     5.000000  5.000000  5.000000
mean      5.792000  6.238000  8.318000
std       0.319875  0.434304  0.669604
min       5.430000  5.660000  7.550000
25%       5.590000  5.980000  7.900000
50%       5.710000  6.240000  8.150000
75%       6.010000  6.600000  8.790000
max       6.220000  6.710000  9.200000

In [10]:
data['Power'] = data['Power'].str.replace(' W', '')

In [13]:
data

   Power  Etching_Rate
0    160          5.43
1    180          6.24
2    200          8.79
3    160          5.71
4    180          6.71
5    200          9.20
6    160          6.22
7    180          5.98
8    200          7.90
9    160          6.01
10   180          5.66
11   200          8.15
12   160          5.59
13   180          6.60
14   200          7.55

In [15]:
from scipy.stats import ttest_ind

display_a = data[data['Power'] == '200']['Etching_Rate']

for display in data['Power'].unique():
    display_b = data[data['Power'] == display]['Etching_Rate']
    print(display, ttest_ind(display_a, display_b))

160 TtestResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05, df=8.0)
180 TtestResult(statistic=5.827496614588661, pvalue=0.0003926796476049085, df=8.0)
200 TtestResult(statistic=0.0, pvalue=1.0, df=8.0)

In [16]:
display_a

# we can oberve that 200W will give small p_value compared to the others

2     8.79
5     9.20
8     7.90
11    8.15
14    7.55
Name: Etching_Rate, dtype: float64